<div class="box">
    <h3>Bring back the chocolate in chocolate chip cookies!</h3>
    <div class="info">
        <p>Recent studies have shown an average decrease of chocolate chips in chocolate chip cookies by 21.73% over the past 30 years. We therefore demand a global chocolate chip cookie chocolate minimum (CCCCM) of 35.27 ounces per kilogram. Sign this petition today to help us. Together we will make chocolate chip cookies taste great again!</p>
    </div>
    
    <h3>
        <a href="/register"><button>SIGN NOW</button></a>
    </h3>
</div>
