* {
    box-sizing: border-box;
    font-family: Georgia;
    margin: 0;
}

body {
    background-color: lightgray;
}

main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 150px 0 0 0;
}

h3 {
    margin: 0 0 15px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-size: medium;
    width: 200px;
    height: 30px;
    margin: 10px 0 0 0;
}

button {
    font-size: medium;
    width: 150px;
    border-radius: 25px;
    margin: 15px 0 10px 0;
}

#canvas {
    border: solid black 1px;
    background-color: white;
    margin: 10px 0 10px 0;
}

#signers {
    font-size: larger;
}

img.sig {
    width: 250px;
    height: 50px;
}

.errorMessage {
    color: red;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    padding: 10px;
}
